/*This is  ChangePassword.css   */
.row-password {
    Background-Color: #051923; 
    Padding: 15px; 
    Border-Radius: 8px; 
    Width: 230px; 
    Height: 450px; 
    Margin: auto; 
    Display: flex;
    Flex-Direction: column;
    Gap: 15px;
}

.row-password label {
    Display: block;
    Color: #FFFFFF; 
    Margin-Bottom: 5px; 
}

.row-password input {
    Width: calc(100% - 16px);
    Padding: 8px;
    Margin-Bottom: 10px;
}

.row-password button {
    Width: calc(100% - 16px); 
    Padding: 10px; 
    Margin-top: 20px; 
}

.text-danger {
    Margin-top: 5px; 
    Display: block; 
}

