#Review {
    border: 1px solid #000;    
    background-color: #071f2c;  
    height: 80%;
    width: 675px;
    max-width: 675px;
    margin-left: 110px;
    margin-right: 342px;
}
#Review2 {
    border: 1px solid #000;
    background-color: #071f2c;
    height: 400px;
    width: 850px;
    margin-top: 50px;
}

.reviewBox {
    width: 100%;
    height: 176px;
    overflow: auto;
}
.reviewBox2 {
    width: 100%;
    height: 250px;
    overflow: auto;
}
.reviewText{
    margin: 10px;
    font-size: 18px;
}

#HeaderReview {
    background-color: #051923;
    height: 150px;
    width: 100%;
    overflow: hidden;
}

.containerReview {
    display: flex; /* Use flexbox layout */
}

.itemReview {
    flex: 1; /* Distribute available space equally among items */
    max-width: 350px;
    margin-bottom: 20px;
}

.itemRateReview {
    align-content: end;
    margin-right: 10px;
    width: 170px;
}

.itemRateReview2 {
    align-content: end;
    margin-right: 10px;
    width: 170px;
}

.reviewInfo{
    min-width: 420px;
    max-width: 420px;
}

.BB {
    opacity: 0.5;
    cursor: pointer;
}

/* Define the hover state */
.BB:hover,
.hovered {
    opacity: 1;
}

.BB:hover,
.BB.active {
    opacity: 1;
}

.reviewBox::-webkit-scrollbar-track {
    background-color: transparent;
    box-shadow: inset 0 0 5px #4f5050;
    border-radius: 10px;
}

/* Style the scrollbar handle */
.reviewBox::-webkit-scrollbar-thumb {
    background-color: #00A6FB;
    border-radius: 10px;
}

/* Change the color on hover */
.reviewBox::-webkit-scrollbar-thumb:hover {
    background-color: #00A6FB;
}

.reviewBox::-webkit-scrollbar {
    width: 10px;
}

.reviewBox2::-webkit-scrollbar-track {
    background-color: transparent;
    box-shadow: inset 0 0 5px #4f5050;
    border-radius: 10px;
}

/* Style the scrollbar handle */
.reviewBox2::-webkit-scrollbar-thumb {
    background-color: #00A6FB;
    border-radius: 10px;
}

/* Change the color on hover */
.reviewBox2::-webkit-scrollbar-thumb:hover {
    background-color: #00A6FB;
}

.reviewBox2::-webkit-scrollbar {
    width: 10px;
}

.reviews-frame{
    width: 100%; /* Set a percentage of the viewport width */
    height: 70%; /* Set a percentage of the viewport height */
    border: 1px solid #000;
    background-color: #051923;
    align-items: center; /* Vertically center content */
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-radius: 8px;
}

.ReviewsViewSection {
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontally center content */
    justify-content: center; /* Vertically center content */
    width: 1270px; 
    min-height: 300px;
    margin-top: 65px;
    height: auto;
    text-align: center; /* Horizontally center text inside the section */
}

.dialog-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog-box {
    background: #071f2c;
    max-width: 800px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.closeDialog {
    font-size: 26px;
    cursor: pointer;
    position: relative;
    top: 0;
    align-self: end;
}

.review-header {
    display: grid;
    grid-template-columns: 1fr auto; /* One fraction for the title, auto for the button */
    align-items: center;
    padding: 10px;
}

.review-title {
    margin: 0; /* Remove default margin */
    width: 200px;
}

.review-btn {
    background-color: #007bff;
    color: white;
    border: none;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: max-content;
}

.preserve-whitespace {
    white-space: pre-line;
    text-align: left;
}

.dialog-box textarea{
    background-color: #003554;
    color: #00A6FB;
}